body {
    background-color: #1e1e1e; /* Dark background */
    color: #ffffff; /* White text */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;
    background: #333; /* Darker header */
}

.main-desc {
    text-align: center;
    background: #333; /* Darker description background */
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav button {
    background: #555; /* Button background color */
    border: none;
    color: #fff; /* Button text color */
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
}

nav button:hover {
    background: #777; /* Button hover color */
}

.tab-content {
    display: none; /* Initially hide all tab content */
    padding: 20px;
    border: 1px solid #444; /* Border color for tab content */
    background: #2a2a2a; /* Tab content background */
    margin: 0 20px;
}

.active {
    display: block; /* Show active tab content */
}

footer {
    text-align: center;
    padding: 20px;
    background: #333; /* Footer background */
}

.github-logo {
    display: inline-block;
    width: 20px; /* Set the width of the logo */
    height: 20px; /* Set the height of the logo */
    background-image: url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');
    background-size: contain; /* Make the logo fit the container */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    vertical-align: middle; /* Align with text */
    margin-left: 5px; /* Space between text and logo */
}

.social-logo {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    vertical-align: middle; /* Align with text */
    margin-left: 5px; /* Space between text and logo */
  }
  
  .social-icon {
    font-size: 20px; /* Set the icon size */
    color: #fff; /* Set the icon color */
  }

.discord-button {
    background-color: #7289da; /* Discord blue */
    color: white; /* Button text color */
    border: none;
    padding: 5px 10px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    margin-left: 10px; /* Space between logo and button */
    transition: background-color 0.3s;
}

.discord-button:hover {
    background-color: #5b6eae; /* Darker blue on hover */
}

